@import "../../../variables.scss";

.button {
  font-size: 1.6rem;
  border: 1px $color-blue solid;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  cursor: pointer;
  &:active {
    background-color: $color-dark-blue;
    border: 1px $color-dark-blue solid;
  }
  &:focus {
    outline: none;
  }
  &-primary {
    background-color: $color-blue;
  }
  &-secondary {
    background-color: white;
  }
  &-plus {
    margin-top: 0.2rem;
    margin-left: 0.3rem;
    width: 2rem;
    height: 2rem;
  }
}
