@import '../../variables.scss';

.hobby-list {
  width: 100%;
  border: 1px solid $color-black;
  background-color: $color-light-gray;

  &__title {
    font-size: 2.5rem;
    padding-left: 2rem;
    padding: 1.6rem;
  }

  &__content {
    border-top: 1px $color-black solid;
    display: grid;
    grid-template-columns: 33% 67%;
    grid-template-rows: 30rem;
  }
  
}
