@import '../../variables.scss';

.hobby-list {
  &__hobbiesForm {
    overflow-y: auto;
    overflow-x: hidden;
    &-inputs {
      padding: 1rem;
      display: flex;
      flex-wrap: wrap;
      position: sticky;
      top: 0;
      background-color: $color-light-gray;
      &-date {
        width: 7.5rem;
      }
      
    @media(max-width: $size-md) {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
    }
    &-button {
      margin: 0.5rem;
    }
  }
}